<header class="main-header">
  <div class="header-grid">
    <!-- Colonne 1 : Logo -->
    <h1 class="header-title" routerLink="">EMSSO</h1>

    <!-- Colonne 2 : Navigation -->
    <nav class="header-nav">
      <div class="navdiv">
        <a class="nav-link" routerLink="" routerLinkActive="active"> Accueil </a>
      </div>

      <div class="navdiv">
        <div class="dropdown">
          <a class="nav-link" routerLink="products" routerLinkActive="active">Explorer</a>
          <div class="dropdown-menu">
            <div class="dropdown-column">
              <div class="dropdown-column-title">Catégories</div>
              <a routerLink="products">Produits</a>
              <a routerLink="categories">Catégories</a>
              <a routerLink="favoris">Favoris</a>
              <a routerLink="nouveautes">Nouveautés</a>
            </div>
            <div class="dropdown-column">
              <div class="dropdown-column-title">Catégories</div>
              <a routerLink="brands">Marques</a>
              <a routerLink="sales">Promotions</a>
              <a routerLink="top-rated">Meilleures évaluations</a>
            </div>
            <div class="dropdown-column">
              <div class="dropdown-column-title">Catégories</div>
              <a routerLink="new-arrivals">Nouveaux arrivages</a>
              <a routerLink="best-sellers">Meilleures ventes</a>
              <a routerLink="collections">Collections</a>
            </div>
          </div>
        </div>
      </div>

      <div class="navdiv">
        <a class="nav-link" routerLink="about" routerLinkActive="active">Contact</a>
      </div>

      <div class="navdiv">
        <a class="nav-link" routerLink="contact" routerLinkActive="active">À propos</a>
      </div>
    </nav>

    <!-- Colonne 3 : Icônes droite -->
    <div class="right-header">
      <button class="mode-toggle" (click)="toggleDarkMode()">
        <img
          class="icon"
          [src]="darkMode ? 'icons/whiteToggle.png' : 'icons/darkToggle.png'"
          alt="toggle icon"
        />
      </button>

      <button class="mode-toggle">
        <img class="icon" src="icons/profile.png" alt="profile icon" />
      </button>
    </div>
  </div>
</header>
