services:
  backend:
    build:
      context: ./backend
    container_name: Tapis-Backend
    env_file:
      - ./backend/.env.docker
    ports:
      - "3000:3000"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_BASE_URL: "http://localhost:3000"
        VITE_MOCK: "0"
    container_name: Tapis-Frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    restart: unless-stopped
