body {
  background-color: var(--brown-medium);
  color: var(--dark);
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}
.products-container {
  padding: 20px;
}
.products-title {
  text-align: center;
  margin-bottom: 20px;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.product-card {
  background-color: var(--white);
  border: 1px solid var(--brown-dark);
  border-radius: 8px;
  padding: 15px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.product-image {
  width: 250px;
  height: 250px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.product-name {
  font-size: 1.2em;
  margin: 10px 0;
}
.product-description {
  font-size: 0.9em;
  color: var(--brown-dark);
  margin-bottom: 10px;
}
.product-price {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 15px;
}
.add-to-cart-button {
  background-color: var(--brown-warm);
  color: var(--white);
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}
.add-to-cart-button:hover {
  background-color: var(--brown-dark);
}
.product-base {
  text-align: center;
  margin-bottom: 10px;
}
.product-base-image {
  text-align: center;
  margin-bottom: 30px;
}
input[type='text'] {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--brown-dark);
  border-radius: 4px;
}
