.cart-page {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 40px 80px;
  margin: 12vw;
  margin-top: 110px;
}

/* ----- PARTIE GAUCHE ----- */
.cart-left {
  width: 65%;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.cart-table th {
  text-align: left;
  padding-bottom: 12px;
  border-bottom: 2px solid #ddd;
  font-weight: 600;
}

.cart-table td {
  padding: 18px 0;
  border-bottom: 1px solid #eee;
  vertical-align: middle;
  height: 90px;
  align-items: center;
}

.cart-img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-name {
  font-size: 18px;
  font-weight: 500;
}

.cart-table td {
  height: 90px;
}

.cart-qty {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  height: 95px;
}

.cart-qty button {
  width: 28px;
  height: 28px;
  border: none;
  background-color: #ddd;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}

.delete-btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 22px;
}

.empty-cart {
  margin-top: 20px;
  font-size: 18px;
  opacity: 0.7;
}

/* ----- PARTIE DROITE ----- */
.cart-right {
  width: 30%;
  position: sticky;
  top: 20px;
}

.cart-summary {
  background: #f7f7f7;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.05);
}

.cart-summary h2 {
  margin-bottom: 20px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
  font-size: 16px;
}

.summary-total {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  padding-top: 15px;
  border-top: 2px solid #ddd;
  font-weight: 700;
  font-size: 18px;
}

.validate-button {
  width: 100%;
  padding: 14px;
  margin-top: 25px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}
