:host {
  position: absolute;
  top: 300px;
  left: 0;
  width: 100%;
  height: 373px !important;
  z-index: 100; /* Envoie la 3D en fond */
}

canvas {
  width: 100%;
  height: 100% !important;
  position: absolute;
  z-index: 100;
}
