<!--<svg
  class="line-svg"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 100 10"
  preserveAspectRatio="none"
>
  <path
    d="M0,5 C20,0 40,10 60,5 C80,0 100,10 120,5"
    stroke="#a47764"
    stroke-width="0.5"
    fill="none"
  />
</svg>-->
<svg
  class="lineWithCircles"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 100 10"
  preserveAspectRatio="none"
>
  <path
    d="M0,5 C20,0 40,10 60,5 C80,0 100,10 120,5"
    stroke="#a47764"
    stroke-width="0.5"
    fill="none"
  />
</svg>
