/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  overflow-x: hidden;
  background-color: var(--white);
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
:root {
  /* Light Mode par défaut */
  --white: #ffffff;
  --brown-light: #e6d9d2;
  --brown-medium: #c5a89b;
  --brown-warm: #a47764;
  --brown-dark: #3a2d2b;
  --dark: #190800;
}

/* Dark Mode */
.dark-mode {
  --white: #ffffff;
  --brown-light: #e6d9d2;
  --brown-medium: #c5a89b;
  --brown-warm: #a47764;
  --brown-dark: #3a2d2b;
  --dark: #190800;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
